@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik');

html, body{
    margin: 0;
    padding: 0;
    color: #4F5665;
    height: 100%;
}
header{
    height: 100px;
    width: 100%;
}
ul {
    list-style: none; 
    /* margin: 0;
    padding-left: 0;  */
  }
a {text-decoration: none; }
p{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1250px;
    margin: 0 auto; 
}

/** LOGO **/
.logo{
    position: absolute;
    left: 150px;
    top: 50px;
}
.logo img{
    margin-right: 10px;
}
.logo a{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #0B132A;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.logo a:hover{
    color: #F53838;
}
.logo span{
    font-weight: bold;
}

/* MENU */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
}
ul {
  list-style: none; 
  /* margin: 0 auto; */
}
.menu a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4F5665;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
  margin: 0 auto 30px;
}
.menu ul {
  padding: 1em 0;
}
.menu a {
  padding: 1em;
}
.menu a:hover {color: #F53838;}
.menu li {
  display: inline;
  margin-left: 40px;
}

/* HEADER BUTTONS */
.banner{
    margin-top: 100px;
}
.buttons{
    position: absolute;
    right: 3%;  
    top: 59px; 
}
.sign{
    color: #0B132A;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin-right: 30px;
}
.sign:hover{
    color: #F53838;
}
.signup{
    color: #F53855;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
    line-height: 19px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    padding: 13px 45px;
    transition: background-color 0.65s ease,
                color 0.65s linear;

}
.signup:hover{
    color: #0B132A;
    background-color: #F53855;
    transition: background-color 0.65s ease,
                color 0.65s linear;
}

/* BANNER TEXT*/
.homeBanner{
    position: relative;
}
.banner{
    width: 100%;
    column-count: 2;
    -moz-column-count: 2; 
    -webkit-column-count: 2;
    top: 60px;
}
.text{
    margin-left: 150px;
}
.title{
    font-family: 'Rubik', sans-serif;
    color: #0B132A;
    font-size: 50px;
    line-height: 70px;
    width: 555px;
    font-weight: 500;
}
.title span{
    font-weight: bold;
}
.sub-title{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 30px;
    width: 555px;
    color: #4F5665;
    padding-top: 20px;
}
.sub-title span {
    font-weight: 500;
}

/* BANNER IMG */
.banner-img img{
    position: inherit;
}

/* BANNER BTN */
.btn{
    box-shadow: -1px 25px 54px -20px rgb(245 56 56);
    background: #F53838;
    border-radius: 10px;
    max-height: 60px;
    padding: 17.5px 77.5px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 50px;
    z-index: 1;
}
.btn:hover{
    background: transparent;
    border: 2px #F53838 solid;
    color: #F53838;
    box-shadow: none;
}
.shadow{
    background: rgba(245, 56, 56, 0.35);
    filter: blur(30px);
    border-radius: 10px;
    width: 179.83px;
    height: 60px;
    margin: 29px 0px 0 31px;
}

/* STATISCTICS */
#about{
    margin-top: 110px;
}
.statisctic{
    max-width: 1140px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 1;
}
.raw-3{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.icon{
    background: #FFECEC;
    border-radius: 70px;
    min-width: 55px;
    height: 55px;
    margin-left: 91px;
}
.icon img{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.number{
    font-family: 'Rubik', sans-serif;
    color: #0B132A;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
}
.name{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
}
.info{
    border-right: 2px solid #EEEFF2;
    padding: 0 91px 0 36px;
    width: 100%;
}
.info:last-child{
    border-right: none
}

/* STAT SHADOW */
.stat-shadow{
    position: relative;
    width: 1068.84px;
    height: 189.22px;
    background: #0D1025;
    opacity: 0.06;
    filter: blur(114px);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* FEATURES */
#features{
    width: 100%;
    column-count: 2;
    -moz-column-count: 2; 
    -webkit-column-count: 2;
}
.feaList{
    font-family: 'Rubik', sans-serif;
    list-style-image:url(../img/mark.png);
}
.feaList li{
    padding-bottom: 15px;
}
.feaList li::marker{
    padding-bottom: 15px;
}
.feaImg{
    margin-left: 150px;
}

/* PRICE */
#price{
    width: 100%;
    position: relative;
    margin-top: 55px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
}
.priceT{
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
}
.priceS{
    margin: 0 auto;
    text-align: center;
    width: 555px;
}

/* PLANS */
.plan{
    width: 100%;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.priceCard{
    background-color: #fff;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    width: 330px;
    text-align: center;
    margin-left: 50px;
    padding-top: 80px;
}
.priceCard:hover{
    border: 2px solid #F53838;
}
.priceList{
    font-family: 'Rubik', sans-serif;
    padding-left: 75px;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
}
.priceList li::before{
    padding-left: 40px;
    content: '';
    background-image: url(../img/check.png);
    width: 100%;
    background-repeat: no-repeat;
}
.cardT{
    width: 100%;
    font-size: 18px;
}
.totalPrice{
    color: #0B132A;
    padding-top: 130px;
    padding-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}
.buy{
    border: 2px solid #F53838;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #F53838;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 13px 60px;
    margin-bottom: 50px;
    background-color: transparent;
}
.buy:focus{
    outline: none;
}
.buy:hover{
    background-color: #F53838;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1;
    box-shadow: -1px 25px 54px -20px rgb(245 56 56);
}
/* MAP */
#map{
    margin-top: 150px;
}
.titlemap{
    margin: 0 auto;
}
.submap{
    margin: 0 auto;
    width: 555px;
}
.mapText{
    text-align: center;
}
.map{
display: flex;
justify-content: center;
margin-top: 155px;
}

/* PARTNERS */
.partners{
    display: flex;
    justify-content: center;
    margin-top: 110px;
}
.partners img{
    width: 190px;
    height: 60px;
    margin: 0 50px;
}
.partners img:hover{
    border: 2px solid #F53838;
    border-radius: 10px;
}

/* TESTIMONIALS */
.testimonials{
    margin-top: 97px;
    position: relative;
}
.testimText{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}
.testimTitle{
    margin: 0 auto;
}
.testimSub{
    margin: 0 auto;
}
.nameTestim{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    line-height: 30px;
    color: #0B132A;
    font-weight: 500;
}
.city{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #4F5665;
}
.testimonial{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 30px;
}
.rate{
    position: absolute;
    top: 45px;
    display: flex;
    align-items: center;
    right: 30px;
}
.rate img{
    padding-left: 10px;
}
/* TESTIMONIALS-SLIDER */
.slider{
    display: flex;
    margin-left: 150px;
    margin-bottom: 300px;
}
.slide{
    border: 2px solid #F53838;
    border-radius: 10px;
    padding: 30px;
    margin-right: 80px;
    position: relative;
}
.person-info{
    display: flex;
}
.your-class > div {
    width: 200px;
    height: 150px;
    background-color: #ccc;
    border: 2px solid white;
  }
  
  .my-dots {
    position: absolute;
    bottom: -190px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
  }
  
  .my-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }
  
  .my-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }
  
  .my-dots li button:hover,
  .my-dots li button:focus {
    outline: none;
  }
  
  .my-dots li button:hover:before,
  .my-dots li button:focus:before {
    opacity: 1;
  }
  
  .my-dots li button:before {
    font-family: 'slick';
    font-size: 55px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    background-color: #DDE0E4;
    border-radius: 50%;
    text-align: center;
    color: #DDE0E4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
     
  }
  .my-dots li.slick-active button:before {
    background-color: #F53838;
    border-radius: 10px;
    width: 45px;
  }
  .my-dots li.slick-active {
    width: 45px;
  }
  .slick-next:before .slick-arrow:before {
    font-family: 'slick';
    font-size: 55px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    background-color: #DDE0E4;
    border-radius: 50%;
    text-align: center;
    color: #DDE0E4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .next, 
  .prev{
      border-radius: 50%;
      background-color: transparent;
      width: 60px;
      height: 60px;
      margin: 0 10px;
      border: 2px solid #F53838;
      transition: all .5s;
  }
  .next:hover, 
  .prev:hover{
      background-color: #F53838;
      cursor: pointer;
  }
  .next i, 
  .prev i{
      margin: 0;
      transition: all .5s;
  }
  .next:hover i:before, 
  .prev:hover i:before{
      color: #fff;
  }
  .fa-arrow-left:before {
    color: #F53838;
    width: 20px;
    font-size: 20px;
}
  .fa-arrow-right:before {
    color: #F53838;
    width: 20px;
    font-size: 20px;
}
.arrow-buttons{
    position: absolute;
    bottom: -190px;
    right: 150px;
}

  

/* HELP */
#help{
    background: #fff;
    border-radius: 10px;
    position: relative;
    margin: 0 150px;
    box-shadow: 8px 27px 114px -84px rgb(13 16 37 / 0.6);
}
.titleHelp{
    font-size: 35px;
    width: 370px;
    line-height: 45px;;
}
.helpText{
    padding: 60px 70px;
}
.subscribe{
    font-size: 16px;
    line-height: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background: #F53838;
    position: absolute;
    right: 70px;
    transform: translatey(-50%);
    top: 50%;
    border-radius: 10px;
    border: none;
    padding: 17px 65px;
    color: #fff;
    box-shadow: 0px 25px 54px -25px rgb(245 56 56);
}
.subscribe:hover{
    cursor: pointer;
    background: transparent;
    border: 2px #F53838 solid;
    color: #F53838;
    box-shadow: none;
}






/* FOOTER */
.footer{
    background-color: #F8F8F8;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 150px 0 100px 180px;
    z-index: -1;
    margin-top: -123px;
}
.rightColumn{
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}
.footerRow{
    columns: 2;
}
.footer-logo img{
    margin-right: 10px;
}
.footer-logo a{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #0B132A;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.footer-logo a:hover{
    color: #F53838;
}
.footer-logo span{
    font-weight: bold;
}
.footerText{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 340px;
    margin-top: 26px;
}
.footerText span{
    font-weight: 500;
}
.left{
    margin-top: 66px;
}
.right{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 66px;
}
.soclink{
    margin-top: 30px;
}
.soc a{
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
}
.sulka a{
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background: rgb(177, 0, 0);
    box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
    margin-right: 20px;
}
.soc{
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background: #F53838;
    box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
    margin-right: 20px;
}
.copy{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    color: #AFB5C0;
}
.nameLink{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
}
.footerLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footerLinks a{
    color: #4F5665;
    display: inline;
    width: auto;
}
.footerLinks a:hover{
    color: #F53838;
}
