@font-face {
    font-family: Segoe;
    src: url(/fonts/SegoeWPLight.ttf);
}
@font-face {
    font-family: Segoe WP;
    src: url(/fonts/SegoeWP.ttf);
}
@font-face {
    font-family: SegoeMain;
    src: url(/fonts/SegoeWPN.ttf);
}
hr{
    height: 1px;
    opacity: 0.1;
    margin-top: 62px;
}
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x:hidden;
}
h2 {
    position: absolute;
    top: 200px;
    width: 391px;
    left: 626px;
    height: 128px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 42px;
    font-weight: 300;
    line-height: 44.42px;
}
h2 span{
    font-size: 36px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.list-menu{
    display: flex;
    list-style: none;
    margin-top: 30px;
    margin-right: 100px;
    padding: 0;
    float: right;
}
.list-menu > li > a{
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 15pt;
    padding: 5px;
    font-family: 'SegoeMain', sans-serif;
    color: gray;
}
.list-menu > li > a:hover{
    border-bottom: 3px solid #5094f2;
}
.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 15pt;
    padding: 5px;
    font-family: 'SegoeMain', sans-serif;
    color: gray;
}
.menu-main a:before {
    content: "";
    position: absolute;
    left: 50%;
    opacity: 0;
    color: white;
}

#btn-menu{
    display: none;
}
#btn-menu + label{
    display: none;
    position: relative;
    left: 145px;
    color: #000;
    height: 20px;
    z-index: 1;
    cursor: pointer;
}
#btn-menu + label:before{
    content: '\f0c9';
    display: inline-block;
    font-family:'FontAwesome';
    font-size: 22px;
}
#btn-menu:checked + label:before{
    content: '\f00d';
    color: #f00;
}
.shape{
    width: 25px;
    height: 25px;
}
.sign{
    border-radius: 2px;
    border: none;
    background-color: #5094f2;
    width: 235px;
    height: 53px;
    color: #ffffff;
    font-family: "Segoe WP";
    font-size: 22px;
    font-weight: 300;
    line-height: 44.42px;
    position: absolute;
    left: 638px;
    top: 364px;
    cursor: pointer;
}
.arrow-right{
    background: transparent;
    border: none;
    position: absolute;
    right: 92px;
    top: 305px;
    cursor: pointer;
}
.arrow-left{
    background: transparent;
    border: none;
    position: absolute;
    left: 92px;
    top: 305px;
    cursor: pointer;
}
.banner-text{
    margin-left: 626px;
}
.banner{
    height: 100%;
    background-size: 100%;
    background: url("../img/dsfsdfsdfds.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer{
    text-align: center;
    font-family: 'Segoe', "Nirmala UI";
    padding: 30px;
    font-size: 21px;
    color: #6f7173;
}
.nav-logo {
    font-size: 58px;
    display: inline-block;
    margin-left: 130px;
    text-decoration: none;
    font-family: 'Segoe', sans-serif;
    color: #000;
}
.iphone{
    margin-left: 177px;
    margin-top: 38px;
}

.layout { overflow: hidden; padding-top: 57px; width: 150%}
.layout DIV { float: left; text-align: center; margin-top: 40px; padding-left: 120px}
.p1 {width: 20%; }
.p2 {width: 20%; }
.p3 {width: 20%; }
.tag{
    color: #5094f2;
    font-family: 'SegoeMain', sans-serif;
    font-size: 20px;
}
.cartimg{
    margin-top: 33px;
}
.desk{
    font-family: 'SegoeMain', sans-serif;
    color: #909090;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}
.cart{
    font-size: 40px;
    margin-left: 130px;
    color: #6f7173;
}
.bull{
    color: #6f7173;
    font-family: 'SegoeMain', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 44.42px;
}
.desk-cart{
    font-size: 15px;
    width: 600px;
}
.cart{
    color: #6f7173;
    font-size: 42px;
    font-weight: 400;
    line-height: 44.42px;
    font-family: 'SegoeMain', sans-serif;
    padding-top: 91px;
}
.layout1 { overflow: hidden; }
.layout1 DIV { float: left; text-align: left; padding-left: 120px}
.cart1{
    width: 30%;
    margin-top: 0px;
}
.cart2{
    width: 453px;
    color: #909090;
    font-family: 'SegoeMain', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
}
.logo{
    width: 48px;
    height: 48px;
}

@media screen and (max-width: 950px) {
    body{

    }
    .layout { overflow: hidden; padding-top: 57px}
    .layout DIV {margin-top: 40px; padding-left: 0px}
    .p1 {width: 100%; padding-bottom: 17px; border-bottom: 1px solid rgba(0,0,0,0.2)}
    .p2 {width: 100%; padding-bottom: 17px; border-bottom: 1px solid rgba(0,0,0,0.2)}
    .p3 {width: 100%; padding-bottom: 17px; border-bottom: 1px solid rgba(0,0,0,0.2)}

    .layout1 { overflow: hidden; }
    .layout1 DIV { float: left; text-align: left; padding-left: 120px}
    .cart1{
        width: 30%;
        margin-top: 0px;
    }
    .cartimg{
        display: block;
        margin: 0 auto;
        height: 162px;
        width: 215px;
    }
    .cart2{
        width: 453px;
        color: #909090;
        font-family: 'SegoeMain', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 36px;
    }
    tag{
        padding-top: 200px;
        font-size: 34px;
    }
    p desk{
        display: inline;
        font-size: 20px;
    }
    .nav-logo {
        display: inline-block;
        margin-left: 30px;
        text-decoration: none;
        font-family: 'Segoe', sans-serif;
        color: #000;
    }
    .banner{
        width: 100%;
        height: 290px;
    }
    .iphone{
        height: 223px;
        width: 177px;
        margin-left: 37px;
        margin-top: 11px;
    }
    .arrow-left{
        display: none;
    }
    .arrow-right{
        display: none;
    }
    .sign{
        width: 235px;
        height: 53px;
        position: absolute;
        left: 279px;
        top: 272px;
        cursor: pointer;
    }
    .imgleft{
        float: left;
        padding-left: 43px;
        width: 137px;
        height: 137px;
    }
    h2 {
        position: absolute;
        top: 117px;
        width: 286px;
        height: 102px;
        left: 280px;
        font-size: 31px;
        line-height: 35.94px;
    }
    h2 span{
        font-size: 23px;
    }
}
@media screen and (max-width: 480px) {
    #btn-menu + label{
        display: inline-block;
    }
    #btn-menu + label + .list-menu{
        display: none;
    }
    #btn-menu:checked + label + .list-menu{
        display: block;
    }
    .nav-logo{
        font-size: 37px;
    }
    .logo{
        width: 32px;
        height: 32px;
    }
    .iphone{
        height: 140px;
        width: 95px;
        margin-left: 5px;
        margin-top: 5px;
    }
    h2{
        top: 50px;
        width: 245px;
        height: 131px;
        left: 111px;
        font-size: 22px;
        line-height: 20.94px;
    }
    h2 span{
        font-size: 16px;
    }
    .shape{
        width: 16px;
        height: 16px;
    }
    .sign {
        width: 145px;
        height: 44px;
        position: absolute;
        left: 140px;
        top: 125px;
        cursor: pointer;
        font-size: 18px;
    }
    .banner {
        /* width: 100%; */
        height: 146px;
    }
    .layout{
        padding: 0px;
    }
    .imgleft {
        padding-left: 10px;
        width: 96px;
        height: 96px;
    }
    .p1{
        width: 65%;
    }
    .p2{
        width: 65%;
    }
    .p3{
        width: 65%;
    }
    .cart{
        padding-top: 10px;
        margin-left: 5px;
        font-size: 35px;
    }
    .desk-cart {
        font-size: 14px;
        width: 75%;
        line-height: 27px;
        text-align: justify;
    }
    .footer{
        font-size: 13px;
        padding-top: 12px;

    }
    .bull{
        font-size: 21px;
    }
    .cartimg {
        height: 115px;
        width: 165px;
    }
    .layout1 DIV {
        padding-left: 10px;
    }
    hr{
        margin-top: 0px;
    }
    ul.list-menu{
        background: #fff;
        z-index: 1;
    }
}
